<tr>
    <td rowspan="2">{{ index }}</td>
    <td rowspan="2">{{ title }}</td>
    <td
        rowspan="2"
        class="m-3 badge {{ isSuccess ? 'text-bg-success' : 'text-bg-danger' }}"
    >
        {{ isSuccess ? 'Ok' : 'Error' }}
    </td>
    <td>State</td>
    <td>{{ state }}</td>
</tr>
<tr>
    <td>Recommendations:</td>
    <td>
        {% if isSuccess %}
            Everything is OK
        {% else %}
            {% for item in recommendations %}
                <p>{{ item }}</p>
            {% endfor %}
        {% endif %}
    </td>
    <td></td>
</tr>
